<header class="navbar">
    <div class="container nav-content">
        <a class="brand" asp-controller="Home" asp-action="Index">Marketeer</a>
        <nav>
            <a asp-controller="Product" asp-action="Index">Products</a>
            <a asp-controller="Cart" asp-action="Index">Cart</a>
            <a asp-controller="Order" asp-action="Checkout">Checkout</a>
            <a asp-controller="Account" asp-action="Login">Login</a>
            <a asp-controller="Account" asp-action="Register">Register</a>
        </nav>
    </div>
</header>
